*{
    margin:10;
    padding:0;
    box-sizing:border-box;
}

.body{
    font-family:sans-serif;
    font-size:14px;
    display: flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    background-image:url()no-repeat;
}
/*.radio{
    font-size:14px;
    font-weight:500;
    text-transform:capitalize;
    display:inline-block;
    vertical-align:middle;
    color:black;
    position:relative;
    padding-left:30px;
    cursor:pointer;
}

.radio + .radio{
    margin-left:100px;
}

.radio input[type="radio"]{
    display:none;
}
.radio span{
    height:50px;
    width:50px;
    border-radius:50%;
    display:block;
    position:absolute;
    left:0;
    top:7 px;
}
.radio span:after{
    content:"";
    height:50px;
    width:50px;
    border-radius:50%;
    background: pink;
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition:300ms ease-in-out 0s;
    
}

.radio input[type="radio"]:checked ~ span:after{
    transform:translate(-50%,-50%) scale(1);
}*/

h1{
    text-align:center;
    font-style:sans-serif;
    font-size:50px;
    color:red;
    
}


h2{
    position: absolute;
    top: 0; 
    right: 0;
    width: 200px; 
    text-align:right;
}
h3{
      color:red;
  text-transform: uppercase;
  text-align:center;
  margin-left: auto;
    margin-right: auto;
  font-size:18px;
  /*padding: 10px 20px 10px 200px;
  background-color: rgba(3,78,136,0.7);*/
  width:500px;
 /* position: fixed;*/
  /*margin-left: 50px;*/
  border: 1px solid green ;
 
  }
  
  /*:root {
	--primary-c: #2196F3;
	--secondary-c: #B2D7F5;
	
	--white: #FDFBFB;
	
	--text: #082943;	
	--bg: var(--primary-c);
      
  }*/
      






:root {
	--primary-c: #2196F3;
	--secondary-c: #B2D7F5;
	
	--white: #FDFBFB;
	
	--text: #082943;	
	--bg: var(--primary-c);
}


/* Basic Config
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
	font-family: 'Raleway', sans-serif;
	color: var(--text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	list-style-type: none;
	padding-left: 50px;
	margin: 0;
}

li {
	display: block;
	position: relative;
	padding: 20px 0px;
}

h2 {
	margin: 10px 0;
	font-weight: 900;
}


/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
	display: flex;
	flex-direction: column;	
	background: var(--white);
	width: 300px;
	padding: 20px 25px;
	border-radius: 20px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
}


/* Radio Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type=radio] {
	position: absolute;
	visibility: hidden;
}

label { 
	cursor: pointer; 
	font-weight: 400;
}

.check {
	width: 30px; height: 30px;
	position: absolute;
	border-radius: 50%;
	transition: transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Reset */
input#one ~ .check { 
	transform: translate(-50px, -25px); 
	background: var(--secondary-c); 
}
input#two ~ .check { 
	transform: translate(-50px, -83px); 
	background: var(--primary-c);
	box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
}

/* Radio Input #1 */
input#one:checked ~ .check { transform: translate(-50px, 33px); }

/* Radio Input #2  */
input#two:checked ~ .check { transform: translate(-50px, -25px); }

